<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pld.mapper.BookMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into book (id, name, ISBN, college, major, loaction, `desc`, donate_time, status, donor_id)
        values (#{id},#{name},#{ISBN},#{college},#{major},#{location},#{desc},#{donateTime},#{status},#{donorId})
    </insert>
</mapper>